@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family: menu;
	src: url(../font/UncialAntiqua-Regular.ttf);
}

@font-face
{
	font-family: text;
	src: url(../font/Times-Sans-Serif.ttf);
}

body
{
	background-color: black;
	color: white;
	margin: 0 auto;
}

a
{
	text-decoration: none;
	color: white;
}

.clear
{
	clear: both;
}

.on
{
	display: block;
}

.off
{
	display: none;
}

.bg
{
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

.header
{
	width: 100%;
	position: absolute;
	top: 36px;
	z-index: 1;
}

.header .logo
{
	float: left;
	margin: 10px 0 0 36px;
}

.header .video
{
	float: right;
	margin: 0 36px 0 0;
	font-family: menu;
	font-size: 30px;
}

.container
{
	margin: 0 54.5px 0;
	position: relative;
	top: 110px;
	z-index: 1;
}

.container .text_box .v1
{
	border-left: 1px solid white;
  	height: 100px;
	position: absolute;
	top: 12px;
	left: 0;
	transition: all 0.6s ease;
}

.container .text_box
{
	font-family: menu;
	position: absolute;
	top: 0;
	padding-bottom: 0px;
}

.container .text_box .text
{
	position: absolute;
	left: 57px;
}

.container .text_box .text a:after
{
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 5%;
  background: white;
  transition: all .3s ease;
}

.container .text_box .text a:hover:after
{
  width: 100%;
}

.container .text_box .corner
{
	border-top: 1px solid white;
  	width: 45px;
	position: absolute;
	top: 12px;
}

.container .text_box .sub_box
{
	margin: 34px 75px 0;
	position: relative;
	opacity: 0;
	transition: all 0.3s ease;
}

.container .text_box .sub_box .v2
{
	border-left: 1px solid white;
  	height: 0px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease;
}

.container .text_box .sub_box .text_subbox
{
	font-family: menu;
	position: absolute;
	top: 0;
	transition: all 0.3s ease;
}

.container .text_box .sub_box .text_subbox .text
{
	position: absolute;
	left: 57px;
	width: 200px;
	font-size: 12px;
}

.container .text_box .sub_box .text_subbox .text a:after
{
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 5%;
  background: white;
  transition: all .3s ease;
}

.container .text_box .sub_box .text_subbox .text a:hover:after
{
  width: 63%;
}

.container .text_box .sub_box .text_subbox .corner
{
	border-top: 1px solid white;
  	width: 45px;
	position: absolute;
	top: 8px;
}

.container .text_box .sub_box .text_subbox_2
{
	font-family: menu;
	position: absolute;
	top: 0;
	transition: all 0.3s ease;
}

.container .text_box .sub_box .text_subbox_2 .text
{
	position: absolute;
	left: 57px;
	width: 200px;
	font-size: 12px;
}

.container .text_box .sub_box .text_subbox_2 .text a:after
{
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 5%;
  background: white;
  transition: all .3s ease;
}

.container .text_box .sub_box .text_subbox_2 .text a:hover:after
{
  width: 40%;
}

.container .text_box .sub_box .text_subbox_2 .corner
{
	border-top: 1px solid white;
  	width: 45px;
	position: absolute;
	top: 8px;
}

.container .text_box .sub_box .text_subbox_2 .overlay
{  
	height: 100%;
  	width: 50%;
	position: fixed;
  	z-index: 1;
 	right: -50%;
  	top: 0;
  	background-color: #0a0a0a;
  	overflow-x: hidden;
	transition: all 0.5s ease;
}

.container .text_box .sub_box .text_subbox_2 .overlay .content
{
	margin-top: 166px;
	margin-left: 227px;
}

.container .text_box .sub_box .text_subbox_2 .overlay .content ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container .text_box .sub_box .text_subbox_2 .overlay .content ul li
{
	float: left;
	font-family: menu;
	font-size: 12px;
	padding-right: 113px;
}

.container .text_box .sub_box .text_subbox_2 .overlay .content ul li ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container .text_box .sub_box .text_subbox_2 .overlay .content ul li ul li
{
	font-family: text;
	font-size: 10px;
	letter-spacing: 0.1em;
	padding-bottom: 10px;
}

.container .text_box .sub_box .text_subbox_2:hover .overlay
{
  	right: 0;
	transition: all 0.6s ease;
}

.container .text_box .sub_box .text_subbox_3
{
	font-family: menu;
	position: absolute;
	top: 0;
	transition: all 0.3s ease;
}

.container .text_box .sub_box .text_subbox_3 .text
{
	position: absolute;
	left: 57px;
	width: 200px;
	font-size: 12px;
}

.container .text_box .sub_box .text_subbox_3 .text a:after
{
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 5%;
  background: white;
  transition: all .3s ease;
}

.container .text_box .sub_box .text_subbox_3 .text a:hover:after
{
  width: 40%;
}

.container .text_box .sub_box .text_subbox_3 .corner
{
	border-top: 1px solid white;
  	width: 45px;
	position: absolute;
	top: 8px;
}

.container .text_box .sub_box .text_subbox_3 .overlay
{  
	height: 100%;
  	width: 50%;
	position: fixed;
  	z-index: 1;
 	right: -50%;
  	top: 0;
  	background-color: #0a0a0a;
  	overflow-y: hidden;
	transition: all 0.5s ease;
}

.container .text_box .sub_box .text_subbox_3 .overlay .content
{
	margin-top: 166px;
	margin-left: 227px;
}

.container .text_box .sub_box .text_subbox_3 .overlay .content ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container .text_box .sub_box .text_subbox_3 .overlay .content ul li
{
	float: left;
	font-family: menu;
	font-size: 12px;
	padding-right: 113px;
}

.container .text_box .sub_box .text_subbox_3 .overlay .content ul li ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container .text_box .sub_box .text_subbox_3 .overlay .content ul li ul li
{
	font-family: text;
	font-size: 10px;
	letter-spacing: 0.1em;
	padding-bottom: 10px;
}

.container .text_box .sub_box .text_subbox_3:hover .overlay
{
  	right: 0;
	transition: all 0.6s ease;
}

.container .text_box:hover
{
	padding-bottom: 150px;
	padding-right: 150px;
	z-index: 1;
}

.container .text_box:hover .sub_box
{
	opacity: 1;
	transition: all 0.3s ease;
}

.container .text_box:hover .sub_box .v2
{
	height: 134px;
	transition: all 0.3s ease;
}

.container .text_box:hover .sub_box .text_subbox
{
	top: 25px;
	transition: all 0.3s ease;
}

.container .text_box:hover .sub_box .text_subbox_2
{
	top: 75px;
	transition: all 0.3s ease;
}

.container .text_box:hover .sub_box .text_subbox_3
{
	top: 125px;
	transition: all 0.3s ease;
}

.container .text_box:hover .v1
{
	height: 250px;
	transition: all 0.3s ease;
}

.container .text_box:hover + .text_box_2
{
	top: 200px;
	transition: all 0.3s ease;
}

.container .text_box:hover ~ .text_box_3
{
	top: 250px;
	transition: all 0.3s ease;
}

.container .text_box_2
{
	font-family: menu;
	position: absolute;
	top: 50px;
	transition: all 0.6s ease;
}

.container .text_box_2 .text
{
	position: absolute;
	left: 57px;
}

.container .text_box_2 .text a:after
{
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 5%;
  background: white;
  transition: all .3s ease;
}

.container .text_box_2 .text a:hover:after
{
  width: 100%;
}

.container .text_box_2 .corner
{
	border-top: 1px solid white;
  	width: 45px;
	position: absolute;
	top: 12px;
}

.container .text_box_3
{
	font-family: menu;
	position: absolute;
	top: 100px;
	transition: all 0.6s ease;
}

.container .text_box_3 .text
{
	position: absolute;
	left: 57px;
}

.container .text_box_3 .text a:after
{
  position: absolute;
  content: "";
  left:0;
  bottom: -5px;
  width: 0;
  height: 5%;
  background: white;
  transition: all .3s ease;
}

.container .text_box_3 .text a:hover:after
{
  width: 100%;
}

.container .text_box_3 .corner
{
	border-top: 1px solid white;
  	width: 45px;
	position: absolute;
	top: 12px;
}

.scale-up-ver-center
{
	animation: scale-up-ver-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-down-ver-center
{
	animation: scale-down-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact_bg
{
	width: 97%;
	height: 95%;
	background: #0a0a0a;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 2;
	display: none;
}

.contact
{
	width: 97%;
	height: 95%;
	background-color: transparent;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 3;
	display: none;
}

.contact .content
{
	display: flex;
	flex-direction: column;
	height: 100%;
  	justify-content: center;
  	align-items: center;
}

.contact .content .logo
{
	margin-bottom: 35px;
}

.contact .content .text
{
	font-family: text;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.5;
}

.contact .content .cancel
{

}

.contact .content .icon
{
	font-family: text;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-align: center;
	position: absolute;
	bottom: 185px;
}

.contact .content .icon ul
{
	list-style: none;
	padding: 0;
	margin: 13px 0 0 0;
}

.contact .content .icon ul li
{
	float: left;
}

.slide-left
{
	animation:  slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-right
{
	animation:  slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-left-2
{
	animation:  slide-left-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-right-2
{
	animation:  slide-right-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-left-3
{
	animation:  slide-left-3 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-right-3
{
	animation:  slide-right-3 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.inside_bg
{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;
	top: 0;
	left: 1920px;
	z-index: -1000;
}

.inside_bg_box
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 1920px;
	z-index: -1000;
}

.vit-layer
{
    background-image: url(../images/vit.png);
	background-position: center 100%;
	background-repeat: no-repeat;
	position: absolute;
    left:0;
	width: 100%;
	height: 100%;
}

.vit-layer-click
{
	position: fixed;
	top: 25%;
	left: 40%;
	background-color: transparent;
	width: 25%;
	height: 50%;
	display: none;
}

.inside_bg_info
{
	width: 97%;
	height: 95%;
	background: #0a0a0a;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 2;
	display: none;
}

.info
{
	width: 97%;
	height: 95%;
	background-color: transparent;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 3;
	display: none;
}

.info .content
{
	display: flex;
	flex-direction: column;
	height: 100%;
  	justify-content: center;
  	align-items: center;
}

.info .content .face
{
	margin-bottom: 50px;
}

.info .content .text
{
	font-family: text;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-align: left;
	line-height: 1.5;
	width: 400px;
}

.info .content .cancel
{

}

.info .content .watch
{

}

.work_bg
{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;
	top: 0;
	left: 3840px;
	z-index: -1000;
}

.work_bg_box
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 3840px;
	z-index: -1000;
}

.camap-layer
{
    background-image: url(../images/camap.png);
	background-position: center 150%;
	background-repeat: no-repeat;
	position: absolute;
    left:0;
	width: 100%;
	height: 100%;
}

.camap-layer-click
{
	position: fixed;
	top: 25%;
	left: 45%;
	background-color: transparent;
	width: 20%;
	height: 50%;
	display: none;
}

.work_bg_work
{
	width: 97%;
	height: 95%;
	background: #0a0a0a;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 2;
	display: none;
}

.work
{
	width: 97%;
	height: 95%;
	background-color: transparent;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 3;
	display: none;
}

.work .content
{
	display: flex;
	flex-direction: column;
	height: 100%;
  	justify-content: center;
  	align-items: center;
}

.work .content .text
{
	font-family: text;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 70px;
}

.work .content .icon
{
	margin-bottom: 0px;
	height: 150px;
}

.work .content .menu_1
{
	font-family: menu;
	font-size: 30px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 2.5;
	margin-bottom: 0px;
	opacity: 0.5;
}

.work .content .menu_1:hover
{
	opacity: 1;
}

.work .content .menu_2
{
	font-family: menu;
	font-size: 30px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 2.5;
	margin-bottom: 0px;
	opacity: 0.5;
}

.work .content .menu_2:hover
{
	opacity: 1;
}

.work .content .menu_3
{
	font-family: menu;
	font-size: 30px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 2.5;
	margin-bottom: 60px;
	opacity: 0.5;
}

.work .content .menu_3:hover
{
	opacity: 1;
}

.work .content .cancel
{

}

.work .content .watch
{

}

.video_info
{
	width: 97%;
	height: 95%;
	background: #0a0a0a;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 2;
	display: none;
}

.video_content
{
	width: 97%;
	height: 95%;
	background-color: transparent;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 3;
	display: none;
}

.video_content .content
{
	display: flex;
	flex-direction: column;
	height: 100%;
  	justify-content: center;
  	align-items: center;
}

.video_content .content .video
{
	position: absolute;
	width: 80%;
	height: 80%;
	background: transparent;
	top: 40px;
}

.video_content .content .cancel
{
	position: absolute;
	bottom: 40px;
}

.video_info_2
{
	width: 97%;
	height: 95%;
	background: #0a0a0a;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 4;
	display: none;
}

.video_content_2
{
	width: 97%;
	height: 95%;
	background-color: transparent;
	position: fixed;
	top: 2.5%;
	left: 1.5%;
	z-index: 5;
	display: none;
}

.video_content_2 .content
{
	display: flex;
	flex-direction: column;
	height: 100%;
  	justify-content: center;
  	align-items: center;
}

.video_content_2 .content .video
{
	position: absolute;
	width: 80%;
	height: 80%;
	background: transparent;
	top: 40px;
}

.video_content_2 .content .cancel
{
	position: absolute;
	bottom: 40px;
}

.footer
{
	width: 100%;
	height: 100px;
	background-color: #0a0a0a;
}

.footer .logo_text
{
	float: left;
	margin-top: 30px;
	margin-left: 36px;
}

.footer .text_box
{
	float: right;
	font-family: text;
	margin-top: 30px;
	margin-right: 36px;
	letter-spacing: 0.1em;
}

.footer .text_box ul
{
	list-style: none;
	padding: 0;
	margin: 14px 0 0 0;
	float: right;
}

.footer .text_box ul li
{
	float: left;
	margin-left: 8px;
}

.loader
{
    position: absolute;
    height: 100%;
    width: 100%;
	background-image: url(../images/loader.gif);
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1000;
}